{% extends "AppTransporte/padre.html" %}
 
{% load static %}

{% block contenido2 %}

<h1 class="mb-1">Transportes</h1>

{% endblock %}

{% block contenido %}

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    </head>
    <body>

        <h1>Transporte formulario</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Enviar" />
        </form>


        
    </body>
{% endblock %}
